h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;
}

html {
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 var(--container-padding-inline);
}

.title {
    text-align: center;
    color: var(--dark-color, #221F20);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            right: 0px;
            display: block;
            width: 75px;
            height: 2px;
            background: #000;
        }
    }
}

.promo {
    position: relative;
    height: 100vh;
    padding-top: 75px;
    background: url('../img/promo-bg.jpg') center center / cover no-repeat;

    .promo__title {
        color: var(--light-color, #F5F5F7);
        font-size: 60px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .promo__subtitle {
        margin-top: 124px;
        color: var(--light-color, #F5F5F7);
        font-size: 32px;
        font-weight: 100;
        line-height: normal;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
        margin-top: 20px;
        width: 160px;
        height: 38px;
        border: 1px solid var(--light-color, #F5F5F7);
        background: rgba(217, 217, 217, 0.00);

        color: var(--light-color, #F5F5F7);
        font-size: 16px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        text-decoration: none;
        transition: all 0.3s ease-out;
    }

    .btn:hover {
        font-weight: 500;
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
    }

    .promo__address {
        position: relative;
        margin-top: 100px;
        color: var(--light-color, #F5F5F7);
        font-size: 16px;
        font-weight: 100;
        line-height: normal;

        address {
            font-style: normal;
            color: inherit;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        &::before {
            content: '';
            position: absolute;
            left: -45px;
            top: -17px;
            display: block;
            width: 40px;
            height: 49px;
            background: url('../icons/arrow.svg') center center / cover no-repeat;

        }
    }

    .keywords {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 360px;
        width: 100%;
        bottom: 0;
        height: 20px;
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 0.04) 0%,
                rgba(255, 255, 255, 0.12) 50%,
                rgba(255, 255, 255, 0.20) 100%);

        li {
            list-style-type: none;
            color: var(--light-color, #F5F5F7);
            font-size: 10px;
            font-weight: 100;
            line-height: normal;
        }
    }
}

/* about section */

.about {
    padding: 80px 0;
    background-color: var(--light-color, #F5F5F7);

    .about__title {
        color: var(--dark-color, #221F20);
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .about__text {
        max-width: 1100px;
        margin-top: 20px;
        color: var(--dark-color, #221F20);
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        span {
            color: #A5A5A5;
        }
    }

    .services {
        margin-top: 80px;
        display: flex;
        column-gap: 10px;

        .services__item {
            width: 50%;

            .services__item-title {
                color: var(--dark-color, #221F20);
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
            }

            .services__item-text {
                /* width: 695px; */
                color: var(--dark-color, #221F20);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.4px;
            }

            ul {
                margin-top: 20px;
                padding: 0;

                li {
                    position: relative;
                    list-style-type: none;
                    margin-top: 10px;
                    color: var(--dark-color, #221F20);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &:first-child::before {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: -30px;
                        display: block;
                        width: 15px;
                        height: 15px;
                        background: url('../icons/camera.svg') center center / cover no-repeat;
                    }

                    &:last-child::before {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: -30px;
                        display: block;
                        width: 15px;
                        height: 15px;
                        background: url('../icons/pen.svg') center center / cover no-repeat;
                    }

                }
            }
        }

    }
}

/* works_section */

.works {
    background-color: var(--light-color, #F5F5F7);
}

.works__grid {
    margin-top: 53px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    gap: 50px 30px;

    img {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        width: 100%;
    }
}

/* inspiration section  */

.inspiration {
    padding-top: 80px;
    background-color: var(--light-color, #F5F5F7);
}

.inspiration__grid {
    margin-top: 53px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    /* align-items: stretch; */

    img {
        width: 100%;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .fourth {
        grid-column: 4/5;
        grid-row: 1/3;
        /* object-fit: cover; */
    }

    .sixth {
        grid-column: 2/4;
        /* grid-row: 2/3; */
    }
}